{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="navbar_container">
            <h1>CS50 Auctions</h1>
            <div style="color: white;">
                {% if user.is_authenticated %}
                    Signed in as <strong>{{ user.username }}</strong>.
                {% else %}
                    Not signed in.
                {% endif %}
            </div>
            <div class="navbar navbar-dark bg-primary" id="navbar">
                    <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                    <a class="nav-link" href="{% url 'all_listing' %}">All Listings</a>
                    <a class="nav-link" href="{% url 'closed_listing' %}">Closed Listings</a>
                    <a class="nav-link" href="{% url 'categories' %}">Categories</a>
                {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'create'%}">Create New Listing</a>
                    <a class="nav-link" href="{% url 'watchlist_view' %}">Watchlist</a>
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                {% else %}
                    <a class="nav-link"href="{% url 'login' %}">Log In</a>
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
        </div>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>
