{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <section id="logged-in">
        <div id="navigator">
            <h2>{{ request.user.email }}</h2>
            <h2 id="cs50-mail">CS50 MAIL</h2>
            <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
            <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
            <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
            <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
            <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
            <hr>
        </div>

        <div id="email-view">
            <h2 id="email-subject"></h2>
            Sender: <span id="email-sender"></span>
            <br>
            Recipients: <span id="email-recipients"></span>
            <br>
            Timestamp: <span id="email-timestamp"></span>
            <br>
            Body:
            <textarea id="email-body" disabled></textarea>
        </div>
        <div class="button_option">
            <button data-type="archive"></button>
            <button class="reply">Reply Email</button>
        </div>
        <div id="emails-view">
        </div>
        <section>
            <div id="compose-view">
                <h3 id="compose-id">New Email</h3>
                <form id="compose-form">
                    <div class="form-group">
                        From: <input disabled class="form-control" value="{{ request.user.email }}">
                    </div>
                    <div class="form-group">
                        To: <input id="compose-recipients" class="form-control">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="compose-subject" placeholder="Subject">
                    </div>
                    <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
                    <input type="submit" class="btn btn-primary"/>
                </form>
            </div>
        </section>
    </section>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}